In [32]:
import pandas as pd
import numpy as np

In [37]:
# 2017 data
data_2017 = pd.read_csv("2017_data.txt")
NFC_2017 = pd.read_csv("NFC_2017.txt")
AFC_2017 = pd.read_csv("AFC_2017.txt")

In [38]:
# 2018 data
data_2018 = pd.read_csv("2018_data.txt")
NFC_2018 = pd.read_csv("NFC_2018.txt")
AFC_2018 = pd.read_csv("AFC_2018.txt")

In [39]:
# 2019 data
data_2019 = pd.read_csv("2019_data.txt")
NFC_2019 = pd.read_csv("NFC_2019.txt")
AFC_2019 = pd.read_csv("AFC_2019.txt")

In [40]:
# 2020 data
data_2020 = pd.read_csv("2020_data.txt")
NFC_2020 = pd.read_csv("NFC_2020.txt")
AFC_2020 = pd.read_csv("AFC_2020.txt")

In [41]:
# 2021 data
data_2021 = pd.read_csv("2021_data.txt")
NFC_2021 = pd.read_csv("NFC_2021.txt")
AFC_2021 = pd.read_csv("AFC_2021.txt")

In [42]:
# function to acquire training data function
def get_data(data, afc_wins , nfc_wins, year):
    team_wins_year = pd.concat((nfc_wins,afc_wins),axis = 0).reset_index(drop=True) # combining all team win totals together
    data_year = pd.merge(team_wins_year,data) # merging offensive data and number of wins 
    data_year = data_year.rename(columns={"Yds.1": "Pass_Yds", "1stD.1": "Pass_1stD", "Yds.2": "Rush_Yds","TD.1" : "Rush_TD", "1stD.2" : "Rush_1stD", "Yds.3" : "Pen_Yds"})
    return data_year
# funning function for 2017-2021 data
data_2017 = get_data(data_2017,AFC_2017,NFC_2017,2017)
data_2018 = get_data(data_2018,AFC_2018,NFC_2018,2018)
data_2019 = get_data(data_2019,AFC_2019,NFC_2019,2019)
data_2020 = get_data(data_2020,AFC_2020,NFC_2020,2020)
data_2021 = get_data(data_2021,AFC_2021,NFC_2021,2021)

In [51]:
# appending all training data together into one data set
one = pd.concat((data_2017,data_2018)).reset_index(drop=True)
two = pd.concat((one,data_2019)).reset_index(drop=True)
three = pd.concat((two,data_2020)).reset_index(drop=True)
four = pd.concat((three,data_2021)).reset_index(drop=True)

,Tm,W,Rk,G,PF,Yds,Ply,Y/P,TO,FL,...,Rush_Yds,Rush_TD,Y/A,Rush_1stD,Pen,Pen_Yds,1stPy,Sc%,TO%,EXP
0,Philadelphia Eagles,13,3,16,457,5852,1073,5.5,20,11,...,2115,9,4.5,108,116,962,37,40.3,9.4,21.06
1,Minnesota Vikings,13,10,16,382,5710,1055,5.4,14,6,...,1957,15,3.9,100,100,949,38,38.9,7.6,-54.08
2,Los Angeles Rams,11,1,16,478,5784,1000,5.8,21,14,...,1953,17,4.3,97,107,922,29,45.3,9.5,-43.18
3,New Orleans Saints,11,4,16,448,6259,1000,6.3,18,10,...,2070,23,4.7,111,105,967,20,44.6,9.1,7.38
4,Carolina Panthers,11,12,16,363,5179,1026,5.0,22,6,...,2102,15,4.3,121,83,682,32,37.4,11.7,-100.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Baltimore Ravens,8,17,17,387,6440,1185,5.4,26,8,...,2479,18,4.8,159,102,852,26,38.5,13.3,59.67
156,Denver Broncos,7,23,17,335,5618,1036,5.4,18,9,...,2025,16,4.5,124,83,711,28,36.9,9.5,61.32
157,New York Jets,4,28,17,310,5208,1036,5.0,27,7,...,1667,14,4.4,87,103,860,28,29.4,14.4,-32.71
158,Houston Texans,4,30,17,280,4727,1010,4.7,22,7,...,1422,8,3.4,77,114,978,27,26.6,11.2,-74.29
159,Jacksonville Jaguars,3,32,17,253,5191,1028,5.0,29,12,...,1755,13,4.5,92,104,856,34,26.4,15.7,-42.52

In [64]:
#four.to_csv('train_data')

In [56]:
# test data
data_2022 = pd.read_csv("2022_data.txt")
NFC_2022 = pd.read_csv("NFC_2022.txt")
AFC_2022 = pd.read_csv("AFC_2022.txt")

In [57]:
# function to get test data and actual number of wins
def get_test_data(data, afc_wins , nfc_wins, year):
    team_wins_year = pd.concat((nfc_wins,afc_wins),axis = 0).reset_index(drop=True)
    data = data.rename(columns={"Yds.1": "Pass_Yds", "1stD.1": "Pass_1stD", "Yds.2": "Rush_Yds","TD.1" : "Rush_TD", "1stD.2" : "Rush_1stD", "Yds.3" : "Pen_Yds"})
    return data,team_wins_year

In [58]:
test_data, actual = get_test_data(data_2022,AFC_2022,NFC_2022,2022)

In [65]:
#test_data.to_csv("test_data")

In [69]:
#actual.to_csv('Actual_Wins')